@use '../../scss/' as *;

.pagination {
    @include flex(center, center);
    gap: 8px;
    button {
        transition: .3s all ease;
        background-color: transparent;
        color: $txt-color;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid grey;
        &:disabled {
            opacity: 0.5;
        }
        &:hover {
            background: white;
            color: $body-bg;
        }
    }
    .active {
        &:hover {
            border-radius: 3px;
            background-color: $red-color;
            box-shadow: $red-box-shadow;
            border: 1px solid $red-color;
            font-weight: 700;
            color: $txt-color;
        }
        background-color: $red-color;
        box-shadow: $red-box-shadow;
        border: 1px solid $red-color;
        font-weight: 700;
    }
}