@use '../../scss/' as *;

.pagination {
    @include flex(center, center);
    .MuiPaginationItem-ellipsis {
        color: $txt-color;
    }
    gap: 8px;
    button {
        transition: .3s all ease;
        background-color: transparent;
        color: $txt-color;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid grey;
        &:disabled {
            opacity: 0.5;
        }
    }
    .active, .Mui-selected {
        background-color: $red-color;
        box-shadow: $red-box-shadow;
        border: 1px solid $red-color;
        font-weight: 700;
    }
}

@include mobile {
    .pagination {
        button {
            padding: 1.2rem;
        }
        gap: 8px;
    }
}

@media (hover: hover) {
    .pagination {
        button {
            &:hover {
                border-radius: 3px;
            }
        }
        .active, .Mui-selected {
            &:hover {
                background-color: $red-color;
                box-shadow: $red-box-shadow;
                border: 1px solid $red-color;
                font-weight: 700;
                color: $txt-color;
            }
        }
    }
}