@use '../../scss/' as *;

.error-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 700px;
    h2 {
        font-weight:  400;
    }
    span {
        font-size: 150px;
        display: block;
        margin: 0 auto;
        font-size: 5rem;
        text-align: center;
    }
}

@include tablet {
    .error-message {
        min-width: 350px;
    }
}

@include mobile {
    .error-message {
        h2 {
            font-size: 1.5rem;
        }
    }
}