@use '../../scss/' as *;

.movies {
    padding: 0 60px;
    @include flex(center, center);
    flex-direction: column;
    &-list {
        margin: 45px 0;
        display: grid;
        @include grid(repeat(auto-fit, minmax(200px, 0.8fr)), center, center);
        gap: 30px;
    }
}

@include mobile {
    .movies {
        padding: 0 15px;
    }
    .movies-list {
        font-size: 140%;
    }
}