@use '../../scss/' as *;

.movie-card {
    border-radius: $border-radius;
    cursor: pointer;
    align-self: flex-start;
    overflow: hidden;
    position: relative;
    transition: .3s all ease;
    // max-width: 250px;
    // min-width: 150px;

    &:hover .overlay {
        transform: translateY(0%);
    }
    .overlay {
        transition: .3s all ease-in-out;
        background: linear-gradient(180deg, rgba(23, 23, 23, 0.00) 0%, #171717 94.71%);
        z-index: 2000;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        h3 {
            position: absolute;
            bottom: 0;
            padding: 1rem;
        }
    }

    img {
        z-index: -1;
        position: relative;
        border-radius: $border-radius;
    }
}

@include tablet {
    .movies {
        .movie-card {
            overflow: unset;
            position: unset;
            img {
                position: unset;
            }
            .overlay {
                h3 {
                    position: unset;
                }
                transform: translate(0);
                background: transparent;
                position: unset;
            }
        }
    }
}