@use '../../scss/' as *;

.modal {
    @include flex(center, center);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    background: rgba($color: #000000, $alpha: .8);
    scale: 0;
    &.modal-active {
        opacity: 1;
        visibility: visible;
        scale: 1;
    }
    &__content {
        border-radius: $border-radius;
        padding: 2rem;
        background: $body-bg;
        width: 50%;
        opacity: 0;
        transform: translateY(-250px);
        transition: transform .6s ease, opacity .6s ease;
        position: relative;
        iframe {
            border-radius: calc($border-radius - 15px);
        }

        @include tablet {
            width: 80%;
        }

        &__close {
            position: absolute;
            right: 0;
            padding: 10px;
            top: 0;
            cursor: pointer;
        }
    }

    &.modal-active &__content {
        opacity: 1;
        transform: translateY(0);
    }
}