$body-bg: #171717;
$txt-color: white;
$red-color: #F40C2B;
$blue-color: #0043F4;

$red-box-shadow: 0px 4px 37px 0px rgba(244, 12, 43, 0.25);
$blue-box-shadow: 0px 4px 37px 0px rgba(0, 67, 244, 0.25);

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$table-width: 1024px;

$font-family: 'Inter', sans-serif;